/* WalletOptions.css */

.wallet-options-container {
    text-align: center;
    padding: 80px 0;
    background-color: black;
  }
  
  .wallet-options-container h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .wallet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .wallet-card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #FF98A8, #A52489); /* Gradient background color */
  }
  
  .wallet-card img {
    max-width: 100px;
    margin-bottom: 10px;
    align-self: center;
  }
  
  .wallet-card p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  
  .wallet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  