/* src/index.css */

body {
  background-color: black; /* Set the background color to black */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  color: white; /* Set default text color */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
